*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    background-color: antiquewhite;
    justify-content: space-around;
}

nav > ul{
    display: flex;
    font-weight: 300;
    gap: 20px;
}
  
 nav > h2{
    color: brown;
 }   
    


.container > button:nth-child(1){
    color: white;
    background-color: blue;
}

.container > button:nth-child(2){
    color: white;
    background-color: blue;
}

.container > button:hover{
    color: white;
    background-color: green;
    cursor: pointer;
}