*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 200px;
    width: 200px;
    background-color: red;

    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}

.inner:hover{
  background-color: yellow;
  cursor: pointer;
  border-radius: 50%;
}